:root {
    --color-prime: #478edf;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey-line: #c9c9c9;
    --color-background: #e6dace;
    --main-background-menu: #F7EEE6;
    --color-label: #474544;
    --color-option-text: #5A5A5A;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    color: var(--color-option-text);
    margin: 0;
    text-transform: none;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

form {
    padding: 70px;
    margin: 50px 0;
    background-color: var(--color-white);
    box-shadow: -10px 9px 12px 2px rgb(173 173 173 / 37%);
}

.email {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--color-label);
    font-weight: bold;
}

input[type='text'],
[type='email'],
select,
textarea,
label {
    background: none;
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text'],
[type='email'],
select,
textarea {
    margin: 0 0 50px 0;
    padding: 5px 0 10px 10px;
    border-bottom: solid 2px var(--color-label);
}

input[type='text'],
[type='email'],
textarea {
    color: var(--color-prime);
    font-weight: 500;
}

input[type='text']:focus,
[type='email']:focus,
textarea:focus {
    outline: none;
    border-bottom: solid 2px var(--color-prime);
}

.message__field {
    float: none;
}

.first_name {
    width: 45%;
}

.last_name {
    width: 45%;
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-weight: 500;
}

select::-ms-expand {
    display: none;
}

.subject__field {
    width: 100%;
}

.telephone {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

 ::-webkit-input-placeholder {
    color: var(--color-label);
}

 :-moz-placeholder {
    color: var(--color-label);
    opacity: 1;
}

 ::-moz-placeholder {
    color: var(--color-label);
    opacity: 1;
}

 :-ms-input-placeholder {
    color: var(--color-label);
}

input[type='text'],
[type='email'],
select,
textarea,
label {
    font-size: 1.1em;
}

@media screen and (max-width: 710px) {
    form {
        padding: calc(23px + (70 - 23) * ((100vw - 320px) / (710 - 320)));
        margin-bottom: calc(22px + (50 - 22) * ((100vw - 320px) / (710 - 320)));
        margin-top: calc(22px + (50 - 22) * ((100vw - 320px) / (710 - 320)));
    }
}

@media screen and (max-width: 576px) {
    .block__name {
        flex-direction: column;
    }
    .first_name {
        width: 100%;
    }
    .last_name {
        width: 100%;
    }
    .submit {
        display: flex;
        justify-content: center;
    }
    .submit input {
        width: 92px;
    }
}

@media screen and (max-width: 376px) {
    input[type='text'],
    [type='email'],
    select,
    textarea {
        margin: 0 0 19px 0;
    }
}

@media screen and (max-width: 320px) {
    .section__title {
        font-size: 1.1rem;
    }
    .square__lrg {
        height: 16px;
        width: 16px;
    }
    input[type='text'],
    [type='email'],
    select,
    textarea,
    label {
        font-size: 13px;
    }
}