:root {
    --color-prime: #478edf;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey-line: #c9c9c9;
    --color-background: #e6dace;
    --main-background-menu: #F7EEE6;
    --color-label: #474544;
    --color-option-text: #5A5A5A;
}

.project_name__block {
    width: 50%;
}

.project_image__block {
    width: 50%;
}

.project__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.project__description {
    padding: 50px;
}

.project__description p {
    margin-top: 21px;
    font-size: 18px;
}

.proj__name {
    font-size: 20px;
    font-weight: 800;
    color: var(--color-prime);
}

@media screen and (max-width: 710px) {
    .project__description {
        padding: calc(10px + (50 - 10) * ((100vw - 320px) / (710 - 320)));
    }
    .proj__name {
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (710 - 320)));
    }
    .project__description p {
        font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (710 - 320)));
        ;
    }
}