:root {
    --color-prime: #478edf;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey-line: #c9c9c9;
    --color-background: #e6dace;
    --main-background-menu: #F7EEE6;
    --color-label: #474544;
    --color-option-text: #5A5A5A;
}

.project_name__block {
    width: 50%;
}

.project_image__block {
    width: 50%;
}

.project__image {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: -9px 8px 20px 0px rgb(173 173 173 / 89%);
    border-radius: 20px;
    transform: translate(10px, 0px);
}

.project__image:hover {
    opacity: .7;
    transform: translate(0px, 0px);
}

.project__description {
    padding: 50px;
}

.project__description p {
    margin-top: 21px;
    font-size: 18px;
}

.proj__name {
    font-size: 20px;
    font-weight: 800;
    color: var(--color-prime);
}

.discover {
    margin-top: 57px;
}

.rounded2 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media screen and (max-width: 710px) {
    .project__description {
        padding: calc(10px + (50 - 10) * ((100vw - 320px) / (710 - 320)));
    }
    .proj__name {
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (710 - 320)));
    }
    .project__description p {
        font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (710 - 320)));
        margin-top: calc(10px + (21 - 10) * ((100vw - 320px) / (710 - 320)));
    }
    .discover {
        margin-top: calc(21px + (57 - 21) * ((100vw - 320px) / (710 - 320)));
    }
}

@media screen and (max-width: 590px) {
    .row__box {
        background-color: transparent;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project_name__block {
        width: 72%;
        background-color: var(--color-white);
        box-shadow: 1px -4px 12px 2px rgb(173 173 173 / 37%);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .project_image__block {
        width: 72%;
        background-color: var(--color-white);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .project__image {
        box-shadow: -1px -6px 14px 0px rgb(173 173 173 / 89%);
        transform: translate(0px, 0px);
    }
    .project__image:hover {
        opacity: .7;
        transform: translate(0px, 3px);
    }
}