.container__center {
    margin: 0 auto;
}

.content {
    background-color: #e6dace;
}

.section__title {
    font-size: 2.5rem;
}

.section__subtitle {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2px;
}

.languages__title {
    padding-top: 30px;
}

.square__lrg {
    height: 24px;
    width: 24px;
}

.square__sml {
    height: 13px;
    width: 13px;
}

.flex {
    display: flex;
}

.row {
    align-items: center;
    justify-content: space-between;
}

.col {
    flex-direction: column;
}

.row__box {
    background-color: rgb(255, 255, 255);
    box-shadow: -10px 9px 12px 2px rgb(173 173 173 / 37%);
    margin-top: 44px;
    justify-content: space-between;
}

.row__card {
    padding: 40px;
}

.section__name {
    padding: 70px 0 16px;
}

.job__data {
    /* flex: 0 1 50%; */
    padding: 40px;
}

.job__description {
    flex: 0 1 50%;
    text-align: justify;
    background-image: url("/img/jpg/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 15px;
}

.btn__download {
    color: white;
}

.btn__download:hover {
    color: rgb(0, 0, 0);
    border-color: #478edf;
}

.skills__content {
    margin-top: 80px;
}

.skillsbox {
    padding: 30px 47px 0 0;
}

.skill__pair {
    padding: 10px 0;
    align-items: baseline;
}

ul {
    list-style: none;
}

.li {
    padding: 0 0 15px 0;
}

.year {
    font-size: 1.3rem;
    font-weight: 800;
    color: #478edf;
}

.position {
    font-size: 1.2rem;
    text-transform: uppercase;
}