:root {
    --color-prime: #478edf;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey-line: #c9c9c9;
    --color-background: #e6dace;
    --main-background-menu: #F7EEE6;
    --color-label: #474544;
    --color-option-text: #5A5A5A;
}

.container__center {
    margin: 0 auto;
}

.content {
    background-color: var(--color-background);
}

.section__title {
    font-size: 2.5rem;
}

.section__subtitle {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2px;
}

.languages__title {
    padding-top: 30px;
}

.square__lrg {
    height: 24px;
    width: 24px;
}

.square__sml {
    height: 13px;
    width: 13px;
}

.flex {
    display: flex;
}

.row {
    align-items: center;
    justify-content: space-between;
}

.col {
    flex-direction: column;
}

.row__box {
    background-color: var(--color-white);
    box-shadow: -10px 9px 12px 2px rgb(173 173 173 / 37%);
    margin-top: 44px;
    justify-content: space-between;
}

.row__card {
    padding: 40px;
}

.section__name {
    padding: 70px 0 16px;
}

.download {
    justify-content: flex-end;
    padding-top: 30px;
}

.job__data {
    width: 45%;
    padding: 40px 15px 40px 40px;
}

.job__description {
    width: 50%;
    text-align: justify;
    background-image: url("../img/jpg/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 15px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.btn__download {
    color: var(--color-white);
}

.btn__download:hover {
    color: var(--color-black);
    border-color: var(--color-prime);
}

.skills__content {
    margin-top: 57px;
}

.skillsbox {
    padding: 30px 80px 0 0;
}

.skill__pair {
    padding: 10px 0;
    align-items: baseline;
}

ul {
    list-style: none;
}

.li {
    padding: 0 0 15px 0;
}

.li:last-of-type {
    padding: 0;
}

.year {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--color-prime);
}

.position {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 25px;
}

.education__list {
    width: 100%;
    background-image: url('../img/jpg/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.course {
    align-items: center;
}

.course_year {
    padding-right: 20px;
}

.resource {
    padding: 15px 0 15px;
    text-transform: uppercase;
}

.resource:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .row__box {
        margin-top: 34px;
    }
    .section__name {
        padding: 42px 0 0px;
    }
    .section__title {
        font-size: 2rem;
    }
    .section__subtitle {
        font-size: 1.4rem;
    }
    .year {
        font-size: 1.2rem;
        font-weight: 700;
    }
    .position {
        font-size: 1.1rem;
    }
    .company {
        font-size: 14px;
    }
    .job__description {
        font-size: 14px;
    }
    .skill__pair {
        font-size: 14px;
    }
    .skillsbox {
        padding: 30px 60px 0 0;
    }
}

@media screen and (max-width: 710px) {
    .block__column {
        padding: 93px 0 49px;
    }
    .square__lrg {
        height: 20px;
        width: 20px;
    }
    .skillsbox {
        padding: 30px 30px 0 0;
    }
    .position {
        line-height: 13px;
    }
}

@media screen and (max-width: 590px) {
    .job__data {
        padding: 30px 15px;
    }
    .job__description {
        padding: 30px 15px;
    }
    .skillsbox {
        padding: 21px 24px 0 0;
    }
    .year {
        font-size: 1rem;
    }
    .position {
        font-size: 1rem;
    }
    .company {
        font-size: 13px;
    }
    .job__description {
        font-size: 13px;
    }
    .skill__pair {
        font-size: 13px;
    }
}

@media screen and (max-width: 470px) {
    .section__title {
        font-size: 1.8rem;
    }
    .row__card {
        padding: 20px;
    }
    .skillsbox {
        padding: 21px 10px 0 0;
    }
}

@media screen and (max-width: 419px) {
    .section__title {
        font-size: 1.6rem;
    }
    .section__subtitle {
        font-size: 1.1rem;
    }
    .section__name {
        padding: 27px 0 0;
    }
    .square__lrg {
        height: 17px;
        width: 17px;
    }
    .square__sml {
        height: 10px;
        width: 10px;
    }
    .row__box {
        margin-top: 21px;
    }
    .row__card {
        padding: 20px;
    }
    .job__data {
        padding: 15px;
    }
    .year {
        font-size: .8rem;
        font-weight: 600;
    }
    .position {
        font-size: .8rem;
    }
    .company {
        font-size: 12px;
    }
    .job__description {
        padding: 15px;
        font-size: 13px;
    }
    .skills {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .skillsbox {
        width: 45%;
        padding: 0 0 0 0;
    }
}